@font-face {
  font-family: "EF_MACHO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #333;
  color: #ccc;
}

.Main-Conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Title {
  font-family: "EF_MACHO";
  font-size: 8vmin;
  margin-bottom: 8vmin;
}

.TypingBox-Container {
  border: 0.5vmin #ccc solid;
  border-radius: 2vmin;
  height: 40vh;
  width: 60vw;
}

.ScoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Score {
  border: 0.5vmin #ccc solid;
  padding: 1vmin;
  padding-left: 8vmin;
  padding-right: 8vmin;
  transform: translateY(-3px);
  font-weight: bold;
}
