@font-face {
  font-family: "EF_MACHO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.7vmin;
}

.App {
  background-color: #333;
  color: #ccc;
}

.Main-Conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Title {
  font-family: "EF_MACHO";
  font-size: 8vmin;
  margin-bottom: 8vmin;
  user-select: none;
}

.TypingBox-Container {
  border: 0.5vmin #ccc solid;
  border-radius: 2vmin;
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Credit {
  position: absolute;
  top: 96vh;
  color: rgba(240, 248, 255, 0.349);
  font-size: 1vmin;
}

.ScoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Score {
  border: 0.5vmin #ccc solid;
  padding: 1vmin;
  padding-left: 4vw;
  padding-right: 4vw;
  transform: translateY(-3px);
  font-weight: bold;
}

.Score:first-child {
  border-end-start-radius: 2vmin;
}

.Score:last-child {
  border-bottom-right-radius: 2vmin;
}

.Typing-InputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 9vh;
  margin-bottom: 9vh;
}

.Typing-Input {
  width: 40vw;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  border-bottom: solid 5px rgb(36, 36, 36);
  outline: none;
  color: rgb(155, 155, 155);
}

.Typing-Exaple {
  width: 40vw;
  color: #ccc;
  user-select: none;
}

.Typing-NextExaple {
  color: rgb(77, 77, 77);
  user-select: none;
}

.redDot {
  height: 0.5vmin;
  width: 0.5vmin;
  background-color: rgba(231, 43, 43, 0.765);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
